body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

canvas {
  background-color: #222;
  border: 2px solid #0ff;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  padding: 15px;
  background-color: #0f0f0f;
  border-top: 2px solid #0ff;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
